.img-fluid {
    object-fit: cover;

    height:100%; width: 100%;

    /* lk prefer iki uncomment ae, karo bagian bawah comment kabeh */
    
    /* height:30rem; width: 30rem;
    border-radius: 50%;
    box-shadow: 0 0 50px #ffffff; */
}

/* In the context of a landing page, a "hero" typically refers to the main and 
prominent section or element that is designed to capture the attention of visitors 
and convey a compelling message or offer. The hero section is typically placed at the 
top of the landing page and is often the first thing that visitors see when they land 
on the page. */

.card-title {
    position: absolute;
    top: 0%;
    left: 38%;
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-size: 63px;
    padding: 20px;
    background: -webkit-linear-gradient(#eee, #27d388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.hero-container{
    aspect-ratio: 1 / 1;
    height: 30rem;

    margin-left: auto;
    position: relative;
}

.hero-container>*{
    top: 25%; left: 0; right: 0; bottom: 0;
    margin: auto;
    position: absolute;
}

.backdrop-hero{
    box-shadow: 0 0 10rem #27d388;
    background: #27d388;
    filter: blur(5rem);
    border-radius: 50%;

    height: 40%; width: 40%;
}

.backdrop{
    background: #27d388;

    aspect-ratio: 1/1;
    height: 40%;
    border-radius: 100%;

    position: absolute;
}

.backdrop-one{

    box-shadow: 0 0 10rem #27d388;
    filter: blur(5rem);
    top: 45%;
    left: -15%;
}

.backdrop-two{

    box-shadow: 0 0 30rem #27d388;
    filter: blur(6rem);
    right: -15%;
    top: 15%;
}

.hero-container{
    aspect-ratio: 1 / 1;
    height: 30rem;

    margin: auto;
    position: relative;

}
.hero-container{
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;

    position: absolute;
}

.hero-container .backdrop{
    box-shadow: 0 0 10rem #27d388;
    border-radius: 30%;

    height: 40%; width: 40%;

}

.card-product{
    margin: auto;
    padding: 20px 40px;
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(122, 116, 116, 0.1);
    color: white;
    border-radius: 30px;
}

.card-access{
    margin: auto;
    padding: 20px 40px;
    position: absolute;
    top: 45%;
    left: 17%;
    background: rgba(122, 116, 116, 0.1);
    color: white;
    border-radius: 30px;
}

.card-user{
    margin: auto;
    padding: 15px 35px;
    position: absolute;
    top: 70%;
    left: 21%;
    background: rgba(122, 116, 116, 0.1);
    color: white;
    border-radius: 30px;
}

.card-num{
    font-size: xx-large;
    margin: 0;
}

.card-content{
    margin: auto;
    padding: 15px 35px;
    position: absolute;
    top: 40%;
    right: 12%;
    color: darkgray;
    font-size: larger;
    border-radius: 30px;
}

.card-start{
    margin: auto;
    padding: 15px 35px;
    position: absolute;
    top: 65%;
    right: 20%;
    color: white;
    border-radius: 30px;
    background: rgba(39, 211, 136, 0.5);
}

.card-start:hover{
    background: rgba(39, 211, 136, 1);
}
